
.header {
  background: #002D62;
  padding: 3em 0;
}

.header > h1 {
  width: 90%;
  color: #f2f2f2;
  margin: 0 auto;
}

.content {
  width: 90%;
  padding: 0 0 2em 0;
  margin: 0 auto;
}

.footer {
  background: #2f2f2f;
  color: #f2f2f2;
  padding: 2em 0;
  margin: 0 auto;
  text-align: center;
}

button {
  background: #002D62;
  color: #f2f2f2;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  margin: 1em 0;
  cursor: pointer;
}
